<div style="display: flex;">
  <div style="width:230px">
    <h3>Workspaces</h3>
    <ul nz-menu nzMode="inline" style="height: 90vh;overflow: auto;">
      <li>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1">
          <input type="text" #workspaceName nz-input placeholder="Workspace Name" />
        </nz-input-group>
        <ng-template #suffixIconButton1>
          <button nz-button nzType="primary" nzSearch (click)="createWorkspace(workspaceName.value)"><nz-icon
              nzType="plus-square" /></button>
        </ng-template>
      </li>
      @for (item of workspaceList; track $index) {
      <li nz-submenu [nzTitle]="item?.name" nzIcon="folder-open">
        <ul>
          <li>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" #docName nz-input placeholder="Document Name" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch (click)="createDocument(docName.value,item?._id)"><nz-icon
                  nzType="plus-square" /></button>
            </ng-template>
          </li>
          @for (docs of item?.documents; track $index) {
          <!-- <li nz-menu-item (click)="showDocument(docs)">{{docs?.title}}</li> -->
          <li nz-menu-item (click)="showDocument(docs)">
            <div class="menu-item-flex">
              <span>{{ docs?.title }}</span>
              <i nz-icon nzType="more" nzTheme="outline" class="action-icon" nz-dropdown nzTrigger="click"
                [nzDropdownMenu]="menu"></i>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item nz-popconfirm
                    nzPopconfirmTitle="Are you sure delete this document?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="deleteDocument(docs)">Delete</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </li>
          }
        </ul>
      </li>
      }

    </ul>
  </div>
  <div style="width: 100%;" *ngIf="documentDetails else blankRequest">
    <app-requests [curl]="documentDetails"></app-requests>
  </div>
  <ng-template #blankRequest>
    <div style="width: 100%;">
      <app-requests></app-requests>
    </div>
  </ng-template>

</div>
