<div style="display: flex;">
  <div style="width:200px">
    <h3>Workspaces</h3>
    <ul nz-menu nzMode="inline">
      @for (item of workspaceList; track $index) {
      <li nz-submenu [nzTitle]="item?.name" nzIcon="folder-open">
        <ul>
          <li nz-menu-item>
            <button nz-button nzType="primary">Add Document</button>
          </li>
          @for (docs of item?.documents; track $index) {
          <li nz-menu-item (click)="showDocument(docs)">{{docs?.title}}</li>
          }
        </ul>
      </li>
      }

    </ul>
  </div>
  <div style="width: 100%;" *ngIf="documentDetails">
    <app-requests [curl] = "documentDetails"></app-requests>
  </div>
</div>
